<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="{{ site.repository }}" class="btn">{{ site.view-menu }}</a>
  <a href="{{ site.issue-url }}" class="btn">{{ site.issue }}</a>
  <a href="{{ site.adblock-url }}" class="btn" target="_blank">{{ site.adblock-menu }}</a>
  <a href="{{ site.ublock-url }}" class="btn" target="_blank">{{ site.ublock-menu }}</a>
  <a href="{{ site.androidlink }}" class="btn">{{ site.androidname }}</a>
  <a href="abp:subscribe?location={{ site.url }}&title={{ site.title }}" class="btn">{{ site.add }}</a>
  </section>
