<!DOCTYPE html>
<html lang="{{ site.locale }}">
 <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
  <div id="commits_div"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    // jQuery
$("#commits_div").load("https://tylerlh.github.com/github-latest-commits-widget/?username={{ site.user-log }}&repo={{ site.repo-log }}&limit=05");
  </script>

<!-- <iframe src="https://tylerlh.github.com/github-latest-commits-widget/?username={{ site.user-log }}&repo={{ site.repo-log }}&limit=05" allowtransparency="true" frameborder="0" scrolling="no" width="502px" height="252px"></iframe> -->
 
  </body>
</html>
