<!DOCTYPE html>
<html lang="{{ site.locale }}">
  
  {% include head.html %}

  <body>
    {% include page-header.html %}

    <section class="main-content">
<!-- <script>
    // jQuery
   // Author: https://github.com/TylerLH/github-latest-commits-widget
//$("#commits_div").load("https://easylistbrasil.github.io/commits/?username={{ site.user-log }}&repo={{ site.repo-log }}&limit=05");
 // </script> -->

<iframe src="https://easylistbrasil.github.io/commits/?username={{ site.user-log }}&repo={{ site.repo-log }}&limit=05" allowtransparency="true" frameborder="0" scrolling="no" width="502px" height="300px"></iframe>
 
      {% include page-footer.html %}

    </section>

  </body>
</html>
